In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cidreira,BR,2021-06-13 16:39:23,-30.1811,-50.2056,64.76,57,0,6.08
1,1,Pevek,RU,2021-06-13 16:39:23,69.7008,170.3133,39.54,68,50,1.34
2,2,Gouyave,GD,2021-06-13 16:39:24,12.1646,-61.7296,84.97,70,75,18.41
3,3,Dikson,RU,2021-06-13 16:39:24,73.5069,80.5464,33.30,99,100,11.36
4,4,Sitka,US,2021-06-13 16:37:23,57.0531,-135.3300,53.49,76,40,0.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Gouyave,GD,2021-06-13 16:39:24,12.1646,-61.7296,84.97,70,75,18.41
8,8,Mahebourg,MU,2021-06-13 16:39:25,-20.4081,57.7000,75.49,69,75,16.11
10,10,Bambous Virieux,MU,2021-06-13 16:39:25,-20.3428,57.7575,75.45,69,75,16.11
16,16,Grand Gaube,MU,2021-06-13 16:39:27,-20.0064,57.6608,75.60,79,21,8.99
18,18,Lewiston,US,2021-06-13 16:34:35,44.1003,-70.2148,84.85,29,1,8.05
26,26,Kisangani,CD,2021-06-13 16:39:30,0.5167,25.2000,78.67,62,85,1.50
28,28,Northam,GB,2021-06-13 16:39:30,51.0333,-4.2167,76.62,80,48,4.34
36,36,Jieshi,CN,2021-06-13 16:39:32,22.8134,115.8257,82.94,87,52,6.11
37,37,Bodden Town,KY,2021-06-13 16:39:32,19.2833,-81.2500,87.80,1,20,12.66
38,38,Atuona,PF,2021-06-13 16:39:33,-9.8000,-139.0333,79.65,76,57,18.34

In [12]:
preferred_cities_df.count()

City_ID       217
City          217
Country       217
Date          217
Lat           217
Lng           217
Max Temp      217
Humidity      217
Cloudiness    217
Wind Speed    217
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2           Gouyave      GD     84.97  12.1646  -61.7296
8         Mahebourg      MU     75.49 -20.4081   57.7000
10  Bambous Virieux      MU     75.45 -20.3428   57.7575
16      Grand Gaube      MU     75.60 -20.0064   57.6608
18         Lewiston      US     84.85  44.1003  -70.2148
26        Kisangani      CD     78.67   0.5167   25.2000
28          Northam      GB     76.62  51.0333   -4.2167
36           Jieshi      CN     82.94  22.8134  115.8257
37      Bodden Town      KY     87.80  19.2833  -81.2500
38           Atuona      PF     79.65  -9.8000 -139.0333

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Gouyave,GD,84.97,12.1646,-61.7296,Rumboat Retreat
8,Mahebourg,MU,75.49,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
10,Bambous Virieux,MU,75.45,-20.3428,57.7575,Casa Tia Villa
16,Grand Gaube,MU,75.60,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
18,Lewiston,US,84.85,44.1003,-70.2148,Hilton Garden Inn Auburn Riverwatch
26,Kisangani,CD,78.67,0.5167,25.2000,Grand Ramela Hotel
28,Northam,GB,76.62,51.0333,-4.2167,Durrant House Hotel
36,Jieshi,CN,82.94,22.8134,115.8257,Yuehai Hotel
37,Bodden Town,KY,87.80,19.2833,-81.2500,Will T Place
38,Atuona,PF,79.65,-9.8000,-139.0333,Villa Enata

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))